<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <proxies>
        <proxy>
            <host>proxy.net.ilb.ru</host>
            <port>3128</port>
<!--            <username></username>
            <password></password>-->
            <nonProxyHosts>localhost|127.0.0.1|*.ilb.ru</nonProxyHosts>
        </proxy>
    </proxies>
</settings>